#content-header {
    color: rgb(118, 255, 209);
    display: flex;
    flex:auto;
    gap: 20px;
    align-self: center;
    align-items: center;
    align-content: center;
    justify-content: left;
    font-size: larger;
    margin: 20px 200px 20px 200px;
}

#searchField {
    color: white;
    height: 3em;
    background-color: #557272;
    border: 1px solid gray;
    width: 40%;
    margin: 0px auto;
    position: relative;
    padding-left: 10px;
}

#searchField::placeholder {
    text-align: center;
    color: rgb(118, 255, 209);
}

#filterArtists {
    border-radius: 0;
    height: 3em;
    
}

#sortBy {
    width: 15em;
}

.header-icon {
    height: 30px;
    margin-top: 30px;
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(200%);
}

#content-header label {
    margin: auto 0;
}

#content-header select {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(118, 255, 209);
    border: 1px solid gray;
    border-radius: 0px;
    background: #557272;
    height: 3em;
    text-align: center;
    justify-content: center;
    justify-self: center;
    }

#content-header button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(118, 255, 209);
    border: 1px solid gray;
    border-radius: 0px;
    background: #557272;
    height: 3em;
    margin: 0 auto;
    padding-left: 1px;
}


#content-header button:hover, select:hover {
    cursor: pointer;
}

#page-logo {
    max-height: 100%;
    max-width: 100%;
    margin: 10px auto;
    padding: 0px 20px auto 0px;
}

#header a {
    color: #b9eccf;
    text-decoration: none;
}

#header {
    color: #b9eccf;
    /* make text not markable */
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* styling */
    width: 90%;
    height: 8em;
    margin: 0px auto 0px;
    padding: auto;
    display: flex;
}

#logo-header {
    filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(200%);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.active {
    background-color:  #4677689d;
    color: rgb(253, 253, 253);
    box-shadow: 0px 0px 20px rgba(0, 255, 179, 0.356);
    z-index: 999;
}

.header-item {
    margin: 0 auto 0;
    font-size: 1.4em;
    padding-top: 0em;
    width: 100%;
    height: 100%;
    text-align: center;
}

.clickable:hover {
    background: rgba(0, 0, 0, 0.205);
    color: white;
    cursor: pointer;
}

.header-item h3 {
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

.header-item p {
    margin-top: 0;
}

#createIcon {
    filter: invert(100%);
}
