#music-section {
    width: 70vw;
    align-items: center;
    margin: 20px auto 0px auto;
    justify-content: center;
}
#tracks-table {
    background-color: rgb(51, 51, 51);
    color: white;
    margin: 20px auto;
    min-width: 60vw;
    text-align: left;
}

#music-table p {
    color: white;
    padding-right: 30px;
    text-align: left;
}