#music-section {
    width: 70vw;
    align-items: center;
    margin: 20px auto 0px auto;
    justify-content: center;
}
#tracks-table {
    background-color: rgba(0, 255, 255, 0.055);
    color: aqua;
    margin: 20px auto;
    min-width: 60vw;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

#tracks-table * {
    padding-left: 10px;
}

#tracks-table-head th {
    color: white;
}

#tracks-table-head th:hover {
    cursor: pointer;
    background-color: gray;
    padding-left: 10px;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}