/* Edit artist form */
#close-edit-button {
    background-color:#394a51;
    color: white;
    position: absolute;
    margin-bottom: 40px;
    right: 20px;
    border: 1px solid gray;
    width: 20px;
    cursor: pointer;
    top: 20px;
}

#edit-container {
    
    width: 600px;
    padding-right: 2em;
    padding: 2em;
    margin: 0px auto 0px auto;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: 1fr 3fr;
    row-gap: 10px;
    background-color:#394a51;
}

#edit-container input, textarea {
    width: 90%;
}

#edit-container button {
    z-index: 9999;
    background-color: #394a51;
}

#edit-image {
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    grid-column: 1 / -1;
    margin: 45px auto 0px auto;
}

#edit-image img {
    grid-column: 1 / -1;
    height: 300px;
    object-fit: cover;
    object-position: top;
    margin: 0px auto 0px auto;
}

#edit-container :first-child {
    grid-column: 1 / -1;
    text-align: center;
    width: 100%;
}

#edit-container hr {
    
    grid-column: 1 / -1;
    width: 90%;
    margin: 0px auto 0px auto;
}


#edit-container label {
    padding-left: 40px;
}

#edit-submit-button {
    grid-column: 1 / -1;
    text-align: center;
    height: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#394a51;
    color: white;
    border: 1px solid gray;
    width: 50%;
    margin: 0 auto 20px auto;
}

#edit-container button:hover {
    background-color:#6d6d6d;
    cursor: pointer;
}

#edit-container ::placeholder {
    text-align: center;
}


#edit-artist-birth {
    text-align: center;
}

#edit-container h3 {
    color:rgb(0, 255, 0);
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

