/* Main body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto 0;
    padding: 0;
    margin: 0;
    justify-content: center;
    color: white;
    background: linear-gradient(to bottom, #2f4644 0%, #292929 100%);
    min-height: 100vh;
    background-size: cover;
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-position: absolute;
    align-items: center;
    align-content: center;

}

button:hover {
  
    cursor: pointer;
}

.btns button:hover {
    background-color: #78a1a1;
    cursor: pointer;
}

.btns { 
    color: white;
    display: flex;
    justify-content: center;
    gap: 3px;
    position: relative;
    margin: 20px auto 20px auto;
    bottom: 0px;
    width: 95%;
}

.btns button {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid gray;
    border-radius: 7px;
    flex: 0 0 30%; 
    width: 30%;
    background: #557272;
    font-size: 25px;
    position: relative;
    min-width: 2em;
}



#main-container {
    color: rgb(43, 43, 43);
    width: 90%;
    min-height: 850px;
    margin: 0 auto 0;
    margin-top: 0;
    grid-template-columns: 1fr;
}

/* HEADER SECTION */




/* Hidden class */

.hidden {
    display: none;
}



